<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Barra de progreso</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="percent1" [style.width]="percent1 + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="percent2" [style.width]="percent2 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment (actualizaValor)="actualizar($event)" nombre="Azul" [percent]="percent1"></app-increment>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increment (actualizaValor)="percent2 = $event" nombre="Verde" [percent]="percent2"></app-increment>
            </div>
        </div>
    </div>
</div>