<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body" align="center">
                <input #input (keyup)="searchUser(input.value)" type="text" class="form-control" placeholder="Buscar usuario">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="alert alert-default text-center">
            <strong>Cargando...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Un momento</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body" align="center">
                <h3 class="card-title">Usuarios registrados (<small>{{total}}</small>)</h3>
                <br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Autenticacion</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td class="w70">
                                <img (click)="showModal(user._id)" [src]="user.img | img" class="img-50 img-circle pointer">
                            </td>
                            <td>
                                {{user.email}}
                            </td>
                            <td>
                                {{user.firstname}} {{user.lastname}}
                            </td>
                            <td>
                                <select [(ngModel)]="user.role" name="role" class="form-control">
                                    <option value="ADMIN_ROLE">Administrador</option>
                                    <option value="EMPLOYEE_ROLE">Empleado</option>
                                    <option value="USER_ROLE">Usuario</option>
                                </select>
                            </td>
                            <td>
                                <label class="label label-danger" *ngIf="user.google">Google</label>
                                <label class="label label-info" *ngIf="!user.google">Normal</label>
                            </td>
                            <td>
                                <button class="btn btn-primary" (click)="saveUser(user)"><i class="fa fa-save"></i></button>
                                <button class="btn btn-danger" (click)="removeUser(user)"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="changePagination(-5)" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</button>
                <button (click)="changePagination(5)" class="btn btn-default">Siguiente <i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>